@import "styles.css";

.video_banner {
    position: relative;
    z-index: -0;
    height: 100vh;
    min-height: 500px;
    max-height: 1000px;
    /* min-width: 1000px; */
    width: 100%;
    background: black url(../img/night-sky.jpg) no-repeat center;
    overflow: hidden;
}

.video_banner video {
    position: absolute;
    z-index: 0;
    width: 100%;
    /* min-height: 500px; */
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

.home_title {
    color: white;
    text-shadow: 0 0 20px black;
    text-align: center;
    position: absolute;
    margin: 0;
    /* transition: 0.7s ease-in-out; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-family: 'Bruno Ace SC';
}

.home_title:hover {
    /* animation: change-color 5s forwards 5s infinite; */
    color: black;
    /* text-shadow: 0 0 20px white; */
}

.home_title h1,
.home_title p {
    transition: 0.7s ease-in-out;
}

.home_title p {
    transition-delay: 0.5s;
    /* font-weight: 600; */
    font-size: x-large;
    font-family: 'Bruno Ace SC', cursive;
}

.slider {
    width: 20px;
    height: 50px;
    margin: 10px auto 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    z-index: 10;
}

.slider a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 100;
}

#ball {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: white;
    /* border:2px solid white; */
    border-radius: 20px;
    left: 50%;
    top: 2px;
    transform: translate(-50%, 0);
    margin: auto;
    animation: slide 2s ease 0.5s infinite;
}

/* @keyframes slide{
    from {top: 0; bottom: auto;}
    to {top: auto; bottom: 0;}
} */

@keyframes slide {
    0%{
        top: 2px;
    }

    10% {
        top: 2px;
        background-color:white;
    }

    30%{
        background-color: white;
    }

    55%{
        background-color:transparent;
    }

    60% {
        top: 33px;
    }

    100% {
        top: 2px;
        background-color:transparent;
    }
}

/* @keyframes change-color {
    0% {
        color: white;
        text-shadow: 0 0 20px black;
    }

    35% {
        color: black;
        text-shadow: 0 0 20px white;
    }

    100% {
        color: white;
        text-shadow: 0 0 20px black;
    }
} */

.about {
    width: 97%;
    max-width: var(--maxw);
    margin: auto;
    overflow: hidden;
    /* position: relative; */
    z-index: -5;
    /* margin-bottom: 300px; */
}

.intro {
    z-index: -2;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 120px 0;
    gap: 30px;
}

.about h1 {
    font-size: 40px;
    color: red;
}

.about p {
    margin: 20px 0;
    font-size: 18px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
    color: white;
}

#moreabout {
    border: 2px solid white;
    width: fit-content;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

#moreabout:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
}

#moreabout a{
    background-color: red;
    text-decoration: none;
}

#moreabout p{
    margin:0;
    font-size: 12px;
    padding:10px;
    /* background-color: red; */
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
    color: white;
}

#schedule {
    width: 100%;
    padding: 140px 0;
    background: rgba(255, 255, 255, 0.9);
}

#schedule h1,
.schedule-table {
    width: 100%;
    min-width: var(--minw);
    max-width: var(--maxw);
    margin: auto;
}

.schedule-table {
    margin-top: 10px;
    border: 1px solid lightgray;
}

.schedule-table th,
.schedule-table td {
    padding: 10px;
}

.schedule-table thead th {
    background-color: orange;
}

.schedule-table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

.cn {
    width: 35%;
}

.desc {
    width: auto;
}

@media only screen and (min-width: 800px) {
    .intro {
        grid-template-columns: 1fr 1fr;
    }
}